/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: lightgray;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 body a:hover{
    text-decoration: none;
 }

 .comment {
     margin: 1%;
     border-left:#2196F3;
     border-left-width: 10px;
     border-left-style: solid;
     background-color: rgb(221, 255, 255);
     width: 60%;
 }

 .news {
    margin: 1%;
    border-left:#2196F3;
    border-left-width: 10px;
    border-left-style: solid;
    background-color: rgb(221, 255, 255);
}

 .comment_paragraph {
     margin: 4px;
 }

 .comment_title {
    margin: 4px;
    font-weight: bold;
 }

 textarea {
     width: 80%;
 }

 h2 {
    margin: 1%
 }